body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#plans {
    margin-top: 20px;
}

form {
    margin-top: 20px;
}

input, button {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    cursor: pointer;
}